/**** Solution-Providers Styles ****/
section#solution-providers {
  position: relative;
  /* background-image: url("../images/spiral-bg.png"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0;
}
section#solution-providers::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 80%;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  /* background-image: url("../images/circles-bg.png"); */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.providers-txt-wrapper {
  max-width: 725px;
  margin: 50px auto 30px;
}
.provider-grid-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin: 50px 0 30px;
}
.provider-grid-block > .flex-div {
  grid-gap: 10px;
  gap: 10px;
  font-size: 24px;
  font-family: var(--font-smbold);
}
.and-more {
  font-size: 32px;
  color: #747474;
  font-family: var(--font-bold);
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (max-width: 992px) {
  .and-more {
    bottom: -50px;
  }
}

@media (max-width: 600px) {
  .providers-txt-wrapper {
    margin-top: 30px;
  }
  .provider-grid-block {
    grid-template-columns: 100%;
  }
}
/**** Solution-Providers Styles ****/

/**** Dynamic-Partnerships Styles ****/
section#dynamic-partnerships {
  position: relative;
}
section#dynamic-partnerships::before {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  max-height: 500px;
  top: 0;
  right: 0;
  /* background-image: url("../images/dynamic-partnerships-bg.png"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin: auto;
}
.dynamic-partnership-wrapper {
  max-width: 970px;
  margin-left: auto;
  color: white;
  padding-top: 100px;
  margin-bottom: 100px;
}
.dpw-txt-side.flex-div {
  align-items: flex-start;
  margin-top: 40px;
}
.dpw-txt {
  font-size: 18px;
  font-family: var(--font-medium);
}

@media (max-width: 992px) {
  section#dynamic-partnerships::before {
    max-height: 600px;
    background-size: cover;
  }
}

@media (max-width: 600px) {
  .dpw-txt-side.flex-div {
    flex-direction: column;
    gap: 50px;
  }
  .dynamic-partnership-wrapper {
    padding-top: 40px;
  }
  img.dot-pattern {
    width: 70%;
    margin-left: 30%;
  }
}
/**** end of Dynamic-Partnerships Styles ****/

/**** Flipping-Cards Styles ****/
.flipping-cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}
.flip-box {
  background-color: transparent;
  width: 100%;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flip-box-front {
  background-color: #bbb;
  color: black;
}
.flip-box-back {
  background-color: white;
  color: #333333;
  transform: rotateY(180deg);
  padding: 30px;
}
.arila-box .flip-box-back {
  background-color: var(--sec-color);
  color: #ffffff;
}
img.flip-img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.flipbox-title {
  position: absolute;
  top: 40px;
  left: 20px;
  font-size: 25px;
  color: white;
  font-family: var(--font-bold);
  font-size: 16px;
}
.sector-title {
  font-family: var(--font-bold);
  font-size: 24px;
  margin-bottom: 20px;
}
.sector-desc {
  font-size: 16px;
  color: #666666;
}
.learn-how.flex-div {
  position: absolute;
  bottom: 40px;
  gap: 10px;
  color: #2E2E36;
}
.arila-box .sector-desc, .arila-box .learn-how.flex-div {
  color: white;
}

@media (max-width: 992px) {
  .flipping-cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .flipping-cards-wrapper {
    grid-template-columns: 100%;
  }
}
/**** end of Flipping-Cards Styles ****/

/**** Holistic-Solutions Styles ****/
section#holistic-solutions {
  background: #1A242D;
  color: white;
  padding: 60px 0 50px;
  margin-top: 20px;
  position: relative;
}
section#holistic-solutions::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: -100px;
  left: 0;
  background: #1A242D;
}
section#holistic-solutions p.section-desc.center {
  font-size: 18px;
  max-width: 650px;
  margin: auto;
  font-family: var(--font);
}
.hs-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin: 60px 0 30px;
}
.hs-italics-txt {
  font-family: var(--font-medium);
  font-size: 27px;
  margin-bottom: 20px;
}
h4.hs-block-title.bold-txt {
  font-size: 32px;
}
.hs-block-desc {
  font-size: 16px;
}

@media (max-width: 992px) {}

@media (max-width: 600px) {
  section#holistic-solutions p.section-desc.center {
    font-size: 16px;
  }
  .hs-grid-wrapper {
    grid-template-columns: 100%;
  }
}
/**** end of Holistic-Solutions Styles ****/
