/**** Home Styles ****/
div#leadership-details-page {
  padding-top: 80px;
}

p.leadership-home-desc {
  font-size: 22px;
  font-family: var(--font-medium);
}
.leadership-home-txt {
  max-width: 575px;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  left: 10%;
}

a.hover-scroll-btn {
  display: none;
}

@media (max-width: 992px) {}

@media (max-width: 600px) {
  .leadership-home-txt {
    left: 0;
  }
}
/**** end of Home Styles ****/

/**** Business-Management Styles ****/
section#business-managemnet {
  z-index: 1;
}
section#business-managemnet .container {
  background: #1A242D;
  background: linear-gradient(90deg, #223C08 0%, #0B1302 100%);
  color: white;
  padding: 50px 0;
  position: relative;
  top: -20vh;
}
p.bm-txt {
  font-size: 16px;
  max-width: 605px;
  margin-left: auto;
  margin-right: auto;
}
.bm-btn-wrapper {
  margin-top: 50px;
}
img.dot-pattern-1 {
  position: absolute;
  top: -40px;
  right: -40px;
}
img.dot-pattern-2 {
  position: absolute;
  bottom: -40px;
  left: -40px;
}

@media (max-width: 992px) {
  section#business-managemnet {
    margin-bottom: -50px;
  }
}

@media (max-width: 600px) {
  section#business-managemnet .container {
    width: 100%;
  }
  img.dot-pattern-1 {
    right: 20px;
    top: -50px;
  }
  img.dot-pattern-2 {
    left: 20px;
    bottom: -50px;
  }
}
/**** end of Business-Management Styles ****/

/**** Advisory-Board Styles ****/
.leaders-cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.leadership-board-header.flex-div {
  gap: 30px;
  margin-bottom: 40px;
}
.leaders-cards-wrapper .flip-box {
  height: 400px;
}
.leadership-board-title {
  letter-spacing: -2px;
  font-size: 48px;
  font-family: var(--font-bold);
}
hr.leadership-board-hr {
  border: none;
  background: #747474;
  height: 1px;
  margin: 0;
  flex-grow: 1;
}
.leaders-cards-wrapper .flip-box {
  border: none;
}
.leaders-cards-wrapper .flipbox-title {
  top: auto;
  bottom: 40px;
  left: 0;
  font-size: 30px;
  width: 100%;
  text-align: center;
}
.leaders-cards-wrapper .flip-box-back {
  background: #C4C4C4;
  color: white;
  padding: 40px;
}
.leaders-cards-wrapper .sector-title {
  font-size: 30px;
}
.leaders-cards-wrapper p.sector-desc {
  font-size: 16px;
  color: white;
}
.full-profile.flex-div {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px 20px 15px 30px;
  background: white;
  color: var(--sec-color);
  font-size: 20px;
  font-family: var(--font-bold);
}

@media (max-width: 992px) {}

@media (max-width: 600px) {
  .leaders-cards-wrapper {
    grid-template-columns: 100%;
  }
  .leadership-board-title {
    font-size: 28px;
  }
}
/**** end of Advisory-Board Styles ****/

/**** Board-Of-Directors Styles ****/
section#board-of-directors {
  padding: 70px 0 100px;
}
.bod-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.bod-block {
  transition: transform 1.2s;
}
.bod-block:hover {
  transform: scale(1.05);
}
.bod-name {
  font-size: 26px;
  color: white;
  font-family: var(--font-bold);
  position: absolute;
  bottom: 30px;
  left: 30px;
}

@media (max-width: 992px) {
  .bod-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

@media (max-width: 600px) {
  section#board-of-directors {
    padding-bottom: 20px;
  }
  .bod-wrapper {
    grid-template-columns: 100%;
    gap: 5px;
  }
  .container.full-width-xs {
    width: 100% !important;
  }
}
/**** end of Board-Of-Directors Styles ****/

/****##### Leadership-Details Page #####****/

/**** Leadership-Details-Home Styles ****/
section#leader-details-home {
  background-color: #1A242D;
  background: linear-gradient(90deg, #223C08 0%, #0B1302 100%);
  color: white;
  margin-bottom: 10px;
}
section#leader-details-home::before {
  position: absolute;
  content: "";
  width: 60%;
  height: 100%;
  right: 0;
  top: 0;
  background-image: url("../images/mask.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
img.ldh-img {
  vertical-align: bottom;
}
.ldh-img-side {
  width: 40%;
}
.ldh-txt-side {
  width: 60%;
  padding: 80px;
}
.board-role-txt {
  font-size: 16px;
  font-family: var(--font-medium);
}
section#leader-details-home h2.section-title {
  margin-top: 10px;
}
.board-member-desc {
  font-size: 20px;
  font-family: var(--font-medium);
}

@media (min-width: 993px) {
  img.mask-m {
    display: none;
  }
}

@media (max-width: 992px) {
  section#leader-details-home::before {
    display: none;
  }
  .ldh.flex-div {
    flex-direction: column;
  }
  .ldh-img-side, .ldh-txt-side {
    width: 100%;
  }
  img.mask-m {
    position: absolute;
    top: -30px;
    right: 10px;
  }
}

@media (max-width: 600px) {}
/**** end of Leadership-Details-Home Styles ****/

/**** Biography-Details-Home Styles ****/
.tb-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 80px 0 50px;
}
.tb-bold-txt.bold-txt {
  font-size: 40px;
  line-height: 52px;
}
.tb-normal-txt {
  font-size: 18px;
  color: #666666;
}
.biography-pictures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 40px;
}
.biography-pictures div {
  border-radius: 8px;
  overflow: hidden;
}
.biography-pictures img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.more-biography-detials {
  font-size: 16px;
  font-family: var(--font-medium);
}

.back-to-team {
  margin: 100px 0 30px;
}
.back-to-team > a.flex-div {
  font-size: 30px;
  justify-content: center;
  color: #828282;
  font-family: var(--font-bold);
  gap: 10px;
}
.back-to-team > a.flex-div:hover {
  color: var(--sec-color);
}

hr.bd-hr {
  height: 1px;
  background: black;
  border: none;
  margin: 60px 0 50px;
}

@media (max-width: 992px) {}

@media (max-width: 600px) {
  .ldh-txt-side {
    padding: 45px 20px 40px;
  }
  .tb-grid-wrapper {
    margin-top: 40px;
    grid-template-columns: 100%;
  }
  .biography-pictures {
    grid-template-columns: 100%;
  }
}
/**** end of Biography-Details-Home Styles ****/
